.timetable-container {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.timetable-title {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: #333;
    border-radius: 6px;
    margin-bottom: 20px;
}

.timetable {
    width: 100%;
    border-collapse: collapse;
    font-size: 20px;
}

.timetable th {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
}

.timetable td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.timetable tr:nth-child(even) {
    background-color: #f2f2f2;
}

.timetable tr:hover {
    background-color: #ddd;
    cursor: pointer;
}