.sidebar {
    width: 60px;
    height: 100vh;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    color: rgb(123, 52, 237);
}

.sidebar ul li {
    padding: 10px 20px;
    display: flex;
    align-items: center;
}

.sidebar ul li a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    transition: background-color 0.3s;
    gap: 10px; /* Space between icon and text */
}

.sidebar ul li a i {
    font-size: 18px;
}
.icon-color{
    color: rgb(106, 39, 214);
}

