.toggle-button {
    width: 39px; /* Reduced width */
    height: 16px; /* Reduced height */
    background-color: rgb(181, 153, 226) ;/*Change toggle button bg color*/
    border-radius: 10px; /* Adjusted to half the height */
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 3px; /* Reduced padding */
    transition: background-color 0.3s ease;
    margin-left: 25px;
  }
  
  .toggle-button.active {
    background-color: rgb(181, 153, 226);
  }
  
  .toggle-circle {
    width: 21px; /* Reduced width */
    height: 20px; /* Reduced height */
    background-color: rgb(123, 52, 237);
    border-radius: 50%;
    transition: transform 0.6s ease;
  }
  
  .toggle-button.active .toggle-circle {
    transform: translateX(18px); /* Adjusted translation distance */
  }
  